// cover some element-ui styles

.el-breadcrumb__inner,
.el-breadcrumb__inner a {
  font-weight: 400 !important;
}

.el-upload {
  input[type="file"] {
    display: none !important;
  }
}

.el-upload__input {
  display: none;
}


// to fixed https://github.com/ElemeFE/element/issues/2461
.el-dialog {
  transform: none;
  left: 0;
  position: relative;
  margin: 0 auto;
}

// refine element ui upload
.upload-container {
  .el-upload {
    width: 100%;

    .el-upload-dragger {
      width: 100%;
      height: 200px;
    }
  }
}

// dropdown
.el-dropdown-menu {
  a {
    display: block
  }
}

// to fix el-date-picker css style
.el-range-separator {
  box-sizing: content-box;
}

// //滚动条的宽度
// ::-webkit-scrollbar-track-piece {
//   background: #d3dce6;
// }
// ::-webkit-scrollbar {
//   width: 6px;
// }
// ::-webkit-scrollbar-thumb {
//   background: #3162E8;
//   border-radius: 20px;
// }


// 名称弹窗
.name_dialog .el-dialog .el-dialog__body{
  padding: 45px 20px 30px;
}
.name_dialog .el-dialog .el-dialog__headerbtn {
  top: 50px;
}
.name_dialog .el-dialog .el-dialog__header {
  padding: 0;
}

.el-input-group__append {
  border: 0;
  background-color: white;
}

// 单选按钮 hover
.el-radio.is-bordered:hover {
  background-color: #e6efff;
  border: 1px solid #3162E8;
}

// 经营住所企业名称
.address-form .el-input.is-disabled input.el-input__inner {
  color: #606266;
}

// 登出弹窗
.Logout {
  width: 500px;
  .el-message-box__status {
    color: red;
    font-size: 80px!important;
  }
  .el-message-box__content {
    font-size: 18px;
    font-weight: 700;
    color: black;
    padding: 10px 15px 25px;
  }
  .el-message-box__btns {
    button {
      width: 80px;
      &:nth-child(1) { 
        color: #3162E8;
        border-color: #3162E8;
      }
    }
    ::-webkit-search-cancel-button
    .el-button--small, .el-button--small.is-round {
      padding: 11px 16px;
    }
  }
}

// 进度页详情
.el-step__title.is-finish {
  color: #656C74;
}
.el-step__title.is-process,
.el-step__head.is-process {
  color: #C0C4CC;
  border-color: #C0C4CC;
}
.el-step__icon {
  font-size: 15px;
}