/*
 * @Author: your name
 * @Date: 2021-10-20 11:04:54
 * @LastEditTime: 2021-10-20 11:07:08
 * @LastEditors: Please set LastEditors
 * @Description: In User Settings Edit
 * @FilePath: \ec-gov-biz-hubei-terminal\src\styles\font.scss
 */
@font-face {
    font-family: 'myFontContent';
    src: url("../assets/font/myFontContent.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'myFontTitle';
    src: url("../assets/font/myFontTitle.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
  }